@import "kouto-swiss"
normalize();
box-sizing-reset();

@font-face
  font-family roboto
  src url(/fonts/roboto/Roboto-Regular.ttf)
body {
  width: 100vw;
  font-family: roboto;
}

.app {
  gs('fluid');
}

.app-child {
  row();
}

a {
  text-decoration: none;
}

@import './vars.styl';
@import './components';
