.nav {
  min-height: 20%;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  row();
  border-bottom: 2px solid blue;
  clearfix();
}

.nav-logo {
  col(4);
  img {
    size: 300px 50px;
  }
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  col(3);
  offset(9);
  li {
    display: inline;
    padding: 30px;
  }
}

.nav-list-login {
}

.nav-list-sign-up {
}
