doctype html
html
    head
        title= title
        link(rel='stylesheet' type='text/css' href='/css/index.css')
    body
        div#app!= html
        script!= state
        script(src='/js/bundle.js')
