.products {
  col(8);
  offset(2);
}

.products-search {
  row();
}

.products-search_input {
  margin: 0 20px;
}

.products-lists {
  row();
}

.products-item {
  border: 2px solid blue;
  margin: 20px 20px;
  overflow: hidden;
  width: 250px;
}

.products-item-description {
  margin: 10px 5px;
}

.products-item-footer {
  display: flex;
  justify-content: space-between;
  div {
    padding: 10px 5px;
  }
}

.products-item-stock-photo {
  overflow: hidden;
}
