.products {
  col(8);
  offset(2);
}

.products-search {
  row();
}

.products-search_input {
  margin: 0 20px;
}

.products-lists {
  row();
}

.products-item {
  border: 2px solid blue;
  margin: 20px 20px;
  overflow: hidden;
  size: 250px 300px;
}

.products-item-stock-photo {
  overflow: hidden;
}
